@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    overflow-x: hidden;
}

header {
    background-color: #121212;
    position: fixed;
    height: 10.9vh;
    font-size: 12px;
    margin-top: -10.9vh;
}

main {
    margin-left: 6vw;
    margin-top: 10.9vh;
}

.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.line {
    margin-top: -1px;
    background: linear-gradient(to right, #262626, #717171, #262626);
    height: 1px;
}

.line2 {
    margin-left: 6vw;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom,#262626, #717171, #262626); 
    position: absolute;
}

.dots {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.6;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.dot.active {
    width: 12px;
    height: 12px;
    opacity: 1;
    transform: scale(1.2); /* Aumenta o ponto ativo */
}

.header{ 
    display: grid;
    grid-template-columns: 6vw 84vw 10vw;
}


.logo img {
    height: 8vh;
    margin: 20%;
    margin-bottom: 0;
}

.nav-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-info nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    position: relative;           
    display: inline-block;  
}  

.nav-info nav a::after{
    content: "";
    display: block;
    width: 20%;               
    height: 2px;              
    background-color: white; 
    margin: 5px auto 0;  
    transition: 0.3s;     
    border-radius: 10px;
}

.nav-info nav a:hover::after {
    width: 100%;               
}

.light-dark{
    display: flex;
    align-items: center;
}

.trilho{
    height: 4vh;
    width: 4vw;
    border-radius: 50px;
    background-color: #282828;
    position: relative;
    border: 3px solid #393939;
}

.trilho:hover{
    cursor: pointer;
}


.trilho .indicador{
    width: 4vh;
    height: 4vh;
    background-color: #393939;
    border-radius: 50%;
    transform: scale(.6);
    position: absolute;
    left: 0;
    transition: .5s;
}
.trilho .indicador2{
    width: 4vh;
    height: 4vh;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(.75);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark{
    border: 3px solid #dddddd;
    background-color: #fcfcfc;
}

.trilho.dark .indicador{
    left: 4.4vh;
    background-color: #dddddd;
}
.trilho.dark .indicador2{
    left: 4.4vh;
    background-color: #aeaeae;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home img {
    height: 80vh;
}